<div>
    <h2>PEKAS</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="peka.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new PEKA
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateTime"><span>Date Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="insiden"><span>Insiden</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lokasi"><span>Lokasi</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="potensiBahaya"><span>Potensi Bahaya</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="intervensi"><span>Intervensi</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="hasilPengamatan"><span>Hasil Pengamatan</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tindakanLangsung"><span>Tindakan Langsung</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="infoTambahan"><span>Info Tambahan</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="intervensiMencegah"><span>Intervensi Mencegah</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pEKA in vm.pEKAS track by pEKA.id">
                    <td><a ui-sref="peka-detail({id:pEKA.id})">{{pEKA.id}}</a></td>
                    <td>{{pEKA.dateTime | date:'medium'}}</td>
                    <td>{{pEKA.insiden}}</td>
                    <td>{{pEKA.lokasi}}</td>
                    <td>{{pEKA.potensiBahaya}}</td>
                    <td>{{pEKA.intervensi}}</td>
                    <td>{{pEKA.hasilPengamatan}}</td>
                    <td>{{pEKA.tindakanLangsung}}</td>
                    <td>{{pEKA.infoTambahan}}</td>
                    <td>{{pEKA.intervensiMencegah}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="peka-detail({id:pEKA.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="peka.edit({id:pEKA.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="peka.delete({id:pEKA.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
