
<div>
    <h2><span>PEKA</span> {{vm.pEKA.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Date Time</span></dt>
        <dd>
            <span>{{vm.pEKA.dateTime | date:'medium'}}</span>
        </dd>
        <dt><span>Insiden</span></dt>
        <dd>
            <span>{{vm.pEKA.insiden}}</span>
        </dd>
        <dt><span>Lokasi</span></dt>
        <dd>
            <span>{{vm.pEKA.lokasi}}</span>
        </dd>
        <dt><span>Potensi Bahaya</span></dt>
        <dd>
            <span>{{vm.pEKA.potensiBahaya}}</span>
        </dd>
        <dt><span>Intervensi</span></dt>
        <dd>
            <span>{{vm.pEKA.intervensi}}</span>
        </dd>
        <dt><span>Hasil Pengamatan</span></dt>
        <dd>
            <span>{{vm.pEKA.hasilPengamatan}}</span>
        </dd>
        <dt><span>Tindakan Langsung</span></dt>
        <dd>
            <span>{{vm.pEKA.tindakanLangsung}}</span>
        </dd>
        <dt><span>Info Tambahan</span></dt>
        <dd>
            <span>{{vm.pEKA.infoTambahan}}</span>
        </dd>
        <dt><span>Intervensi Mencegah</span></dt>
        <dd>
            <span>{{vm.pEKA.intervensiMencegah}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="peka-detail.edit({id:vm.pEKA.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
