<div>
    <h2>Insiden Onlines</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="insiden-online.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Insiden Online
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ubahKe"><span>Ubah Ke</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ditetapkanTanggal"><span>Ditetapkan Tanggal</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="mulaiTerjadi"><span>Mulai Terjadi</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lokasiKecelakaan"><span>Lokasi Kecelakaan</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tanggalKejadian"><span>Tanggal Kejadian</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="namaKorban"><span>Nama Korban</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cideraKerusakan"><span>Cidera Kerusakan</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dampakKerugian"><span>Dampak Kerugian</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="department"><span>Department</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="jam"><span>Jam</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bagianTubuhTerluka"><span>Bagian Tubuh Terluka</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="penyebabCidera"><span>Penyebab Cidera</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="frekuensiTerjadi"><span>Frekuensi Terjadi</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bagaimanaTerjadi"><span>Bagaimana Terjadi</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="penyebabKejadianTindakan"><span>Penyebab Kejadian Tindakan</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="penyebabFaktorManusia"><span>Penyebab Faktor Manusia</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="intervensiPencegahan"><span>Intervensi Pencegahan</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tindakanMengeliminasi"><span>Tindakan Mengeliminasi</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="insidenOnline in vm.insidenOnlines track by insidenOnline.id">
                    <td><a ui-sref="insiden-online-detail({id:insidenOnline.id})">{{insidenOnline.id}}</a></td>
                    <td>{{insidenOnline.ubahKe}}</td>
                        <td>{{insidenOnline.ditetapkanTanggal | date:'mediumDate'}}</td>
                    <td>{{insidenOnline.mulaiTerjadi}}</td>
                    <td>{{insidenOnline.lokasiKecelakaan}}</td>
                        <td>{{insidenOnline.tanggalKejadian | date:'mediumDate'}}</td>
                    <td>{{insidenOnline.namaKorban}}</td>
                    <td>{{insidenOnline.cideraKerusakan}}</td>
                    <td>{{insidenOnline.dampakKerugian}}</td>
                    <td>{{insidenOnline.department}}</td>
                    <td>{{insidenOnline.jam | date:'medium'}}</td>
                    <td>{{insidenOnline.bagianTubuhTerluka}}</td>
                    <td>{{insidenOnline.penyebabCidera}}</td>
                    <td>{{insidenOnline.frekuensiTerjadi}}</td>
                    <td>{{insidenOnline.bagaimanaTerjadi}}</td>
                    <td>{{insidenOnline.penyebabKejadianTindakan}}</td>
                    <td>{{insidenOnline.penyebabFaktorManusia}}</td>
                    <td>{{insidenOnline.intervensiPencegahan}}</td>
                    <td>{{insidenOnline.tindakanMengeliminasi}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="insiden-online-detail({id:insidenOnline.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="insiden-online.edit({id:insidenOnline.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="insiden-online.delete({id:insidenOnline.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
