
<div>
    <h2><span>Insiden Online</span> {{vm.insidenOnline.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Ubah Ke</span></dt>
        <dd>
            <span>{{vm.insidenOnline.ubahKe}}</span>
        </dd>
        <dt><span>Ditetapkan Tanggal</span></dt>
        <dd>
            <span>{{vm.insidenOnline.ditetapkanTanggal | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Mulai Terjadi</span></dt>
        <dd>
            <span>{{vm.insidenOnline.mulaiTerjadi}}</span>
        </dd>
        <dt><span>Lokasi Kecelakaan</span></dt>
        <dd>
            <span>{{vm.insidenOnline.lokasiKecelakaan}}</span>
        </dd>
        <dt><span>Tanggal Kejadian</span></dt>
        <dd>
            <span>{{vm.insidenOnline.tanggalKejadian | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Nama Korban</span></dt>
        <dd>
            <span>{{vm.insidenOnline.namaKorban}}</span>
        </dd>
        <dt><span>Cidera Kerusakan</span></dt>
        <dd>
            <span>{{vm.insidenOnline.cideraKerusakan}}</span>
        </dd>
        <dt><span>Dampak Kerugian</span></dt>
        <dd>
            <span>{{vm.insidenOnline.dampakKerugian}}</span>
        </dd>
        <dt><span>Department</span></dt>
        <dd>
            <span>{{vm.insidenOnline.department}}</span>
        </dd>
        <dt><span>Jam</span></dt>
        <dd>
            <span>{{vm.insidenOnline.jam | date:'medium'}}</span>
        </dd>
        <dt><span>Bagian Tubuh Terluka</span></dt>
        <dd>
            <span>{{vm.insidenOnline.bagianTubuhTerluka}}</span>
        </dd>
        <dt><span>Penyebab Cidera</span></dt>
        <dd>
            <span>{{vm.insidenOnline.penyebabCidera}}</span>
        </dd>
        <dt><span>Frekuensi Terjadi</span></dt>
        <dd>
            <span>{{vm.insidenOnline.frekuensiTerjadi}}</span>
        </dd>
        <dt><span>Bagaimana Terjadi</span></dt>
        <dd>
            <span>{{vm.insidenOnline.bagaimanaTerjadi}}</span>
        </dd>
        <dt><span>Penyebab Kejadian Tindakan</span></dt>
        <dd>
            <span>{{vm.insidenOnline.penyebabKejadianTindakan}}</span>
        </dd>
        <dt><span>Penyebab Faktor Manusia</span></dt>
        <dd>
            <span>{{vm.insidenOnline.penyebabFaktorManusia}}</span>
        </dd>
        <dt><span>Intervensi Pencegahan</span></dt>
        <dd>
            <span>{{vm.insidenOnline.intervensiPencegahan}}</span>
        </dd>
        <dt><span>Tindakan Mengeliminasi</span></dt>
        <dd>
            <span>{{vm.insidenOnline.tindakanMengeliminasi}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="insiden-online-detail.edit({id:vm.insidenOnline.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
