
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myInsidenOnlineLabel">Create or edit a Insiden Online</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.insidenOnline.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.insidenOnline.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_ubahKe">Ubah Ke</label>
            <input type="text" class="form-control" name="ubahKe" id="field_ubahKe"
                    ng-model="vm.insidenOnline.ubahKe"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_ditetapkanTanggal">Ditetapkan Tanggal</label>
                <div class="input-group">
                    <input id="field_ditetapkanTanggal" type="text" class="form-control" name="ditetapkanTanggal" uib-datepicker-popup="{{dateformat}}" ng-model="vm.insidenOnline.ditetapkanTanggal" is-open="vm.datePickerOpenStatus.ditetapkanTanggal"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('ditetapkanTanggal')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_mulaiTerjadi">Mulai Terjadi</label>
            <input type="text" class="form-control" name="mulaiTerjadi" id="field_mulaiTerjadi"
                    ng-model="vm.insidenOnline.mulaiTerjadi"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_lokasiKecelakaan">Lokasi Kecelakaan</label>
            <input type="text" class="form-control" name="lokasiKecelakaan" id="field_lokasiKecelakaan"
                    ng-model="vm.insidenOnline.lokasiKecelakaan"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_tanggalKejadian">Tanggal Kejadian</label>
                <div class="input-group">
                    <input id="field_tanggalKejadian" type="text" class="form-control" name="tanggalKejadian" uib-datepicker-popup="{{dateformat}}" ng-model="vm.insidenOnline.tanggalKejadian" is-open="vm.datePickerOpenStatus.tanggalKejadian"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('tanggalKejadian')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_namaKorban">Nama Korban</label>
            <input type="text" class="form-control" name="namaKorban" id="field_namaKorban"
                    ng-model="vm.insidenOnline.namaKorban"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_cideraKerusakan">Cidera Kerusakan</label>
            <input type="text" class="form-control" name="cideraKerusakan" id="field_cideraKerusakan"
                    ng-model="vm.insidenOnline.cideraKerusakan"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_dampakKerugian">Dampak Kerugian</label>
            <input type="text" class="form-control" name="dampakKerugian" id="field_dampakKerugian"
                    ng-model="vm.insidenOnline.dampakKerugian"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_department">Department</label>
            <input type="text" class="form-control" name="department" id="field_department"
                    ng-model="vm.insidenOnline.department"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_jam">Jam</label>
                <div class="input-group">
                    <input id="field_jam" type="text" class="form-control" name="jam" datetime-picker="{{dateformat}}" ng-model="vm.insidenOnline.jam" is-open="vm.datePickerOpenStatus.jam"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('jam')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_bagianTubuhTerluka">Bagian Tubuh Terluka</label>
            <input type="text" class="form-control" name="bagianTubuhTerluka" id="field_bagianTubuhTerluka"
                    ng-model="vm.insidenOnline.bagianTubuhTerluka"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_penyebabCidera">Penyebab Cidera</label>
            <input type="text" class="form-control" name="penyebabCidera" id="field_penyebabCidera"
                    ng-model="vm.insidenOnline.penyebabCidera"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_frekuensiTerjadi">Frekuensi Terjadi</label>
            <input type="text" class="form-control" name="frekuensiTerjadi" id="field_frekuensiTerjadi"
                    ng-model="vm.insidenOnline.frekuensiTerjadi"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_bagaimanaTerjadi">Bagaimana Terjadi</label>
            <input type="text" class="form-control" name="bagaimanaTerjadi" id="field_bagaimanaTerjadi"
                    ng-model="vm.insidenOnline.bagaimanaTerjadi"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_penyebabKejadianTindakan">Penyebab Kejadian Tindakan</label>
            <input type="text" class="form-control" name="penyebabKejadianTindakan" id="field_penyebabKejadianTindakan"
                    ng-model="vm.insidenOnline.penyebabKejadianTindakan"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_penyebabFaktorManusia">Penyebab Faktor Manusia</label>
            <input type="text" class="form-control" name="penyebabFaktorManusia" id="field_penyebabFaktorManusia"
                    ng-model="vm.insidenOnline.penyebabFaktorManusia"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_intervensiPencegahan">Intervensi Pencegahan</label>
            <input type="text" class="form-control" name="intervensiPencegahan" id="field_intervensiPencegahan"
                    ng-model="vm.insidenOnline.intervensiPencegahan"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_tindakanMengeliminasi">Tindakan Mengeliminasi</label>
            <input type="text" class="form-control" name="tindakanMengeliminasi" id="field_tindakanMengeliminasi"
                    ng-model="vm.insidenOnline.tindakanMengeliminasi"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
