
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPEKALabel">Create or edit a PEKA</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.pEKA.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.pEKA.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_dateTime">Date Time</label>
                <div class="input-group">
                    <input id="field_dateTime" type="text" class="form-control" name="dateTime" datetime-picker="{{dateformat}}" ng-model="vm.pEKA.dateTime" is-open="vm.datePickerOpenStatus.dateTime"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label class="control-label" >Insiden</label>

            <br/>

            <label class="radio-inline">
                <input type="radio"  name="insiden"
                        ng-model="vm.pEKA.insiden"
                       value="Saat Bekerja"
                        />
                    Saat Bekerja
            </label>

            <label class="radio-inline">
                <input type="radio"  name="insiden"
                       ng-model="vm.pEKA.insiden"
                       value="Saat Tidak Bekerja"
                />
                Saat Tidak Bekerja
            </label>


            <label class="radio-inline">
            <input type="radio" name="insiden"
                   ng-model="vm.pEKA.insiden"
                   value="Kantor"
            />
                Kantor
            </label>

            <label class="radio-inline">
            <input type="radio" name="insiden"
                   ng-model="vm.pEKA.insiden"
                   value="Lapangan"
            />
                    Lapangan
            </label>

            <label class="radio-inline">
            <input type="radio" name="insiden"
                   ng-model="vm.pEKA.insiden"
                   value="Lainnya"
            />
                Lainnya
            </label>
        </div>

        <div class="form-group">
            <label class="control-label" for="field_lokasi">Lokasi</label>
            <input type="text" class="form-control" name="lokasi" id="field_lokasi"
                    ng-model="vm.pEKA.lokasi"
                    />
        </div>
        <div class="form-group">
            <label class="control-label">Potensi Bahaya</label>

            <br/>

            <label class="radio-inline">
                <input type="radio"  name="potensiBahaya"
                       ng-model="vm.pEKA.potensiBahaya"
                       value="Perbuatan Tidak Aman"
                />
               Perbuatan Tidak Aman
            </label>

            <label class="radio-inline">
                <input type="radio"  name="potensiBahaya"
                       ng-model="vm.pEKA.potensiBahaya"
                       value="Perbuatan Tidak Aman"
                />
                Kondisi Tidak Aman
            </label>

            <!--<input type="text" class="form-control" name="potensiBahaya" id="field_potensiBahaya"
                    ng-model="vm.pEKA.potensiBahaya"
                    />-->
        </div>
        <div class="form-group">
            <label class="control-label">Intervensi</label>

            <br/>

            <label class="radio-inline">
                <input type="radio"  name="intervensi"
                       ng-model="vm.pEKA.intervensi"
                       value="Masukan Positif"
                />
                Masukan Positif
            </label>


            <label class="radio-inline">
                <input type="radio"  name="intervensi"
                       ng-model="vm.pEKA.intervensi"
                       value="Hampir Celaka"
                />
                Hampir Celaka
            </label>

            <label class="radio-inline">
                <input type="radio"  name="intervensi"
                       ng-model="vm.pEKA.intervensi"
                       value="Tidak Ada Penanganan"
                />
                Tidak Ada Penanganan
            </label>

            <label class="radio-inline">
                <input type="radio"  name="intervensi"
                       ng-model="vm.pEKA.intervensi"
                       value="Sekuriti"
                />
                Sekuriti
            </label>

            <label class="radio-inline">
                <input type="radio"  name="intervensi"
                       ng-model="vm.pEKA.intervensi"
                       value="Tindakan Koreksi"
                />
                Tindakan Koreksi
            </label>

            <label class="radio-inline">
                <input type="radio"  name="intervensi"
                       ng-model="vm.pEKA.intervensi"
                       value="P3K"
                />
                P3K
            </label>

            <label class="radio-inline">
                <input type="radio"  name="intervensi"
                       ng-model="vm.pEKA.intervensi"
                       value="Lingkungan"
                />
                Lingkungan
            </label>

            <label class="radio-inline">
                <input type="radio"  name="intervensi"
                       ng-model="vm.pEKA.intervensi"
                       value="Lainnya"
                />
                Lainnya
            </label>

            <!--<input type="text" class="form-control" name="intervensi" id="field_intervensi"
                    ng-model="vm.pEKA.intervensi"
                    />-->
        </div>
        <div class="form-group">
            <label class="control-label" for="field_hasilPengamatan">Hasil Pengamatan</label>
            <input type="text" class="form-control" name="hasilPengamatan" id="field_hasilPengamatan"
                    ng-model="vm.pEKA.hasilPengamatan"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_tindakanLangsung">Tindakan Langsung</label>
            <input type="text" class="form-control" name="tindakanLangsung" id="field_tindakanLangsung"
                    ng-model="vm.pEKA.tindakanLangsung"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_infoTambahan">Info Tambahan</label>
            <input type="text" class="form-control" name="infoTambahan" id="field_infoTambahan"
                    ng-model="vm.pEKA.infoTambahan"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_intervensiMencegah">Intervensi Mencegah</label>
            <input type="text" class="form-control" name="intervensiMencegah" id="field_intervensiMencegah"
                    ng-model="vm.pEKA.intervensiMencegah"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>

